.gallery-heading {
  font-size: 3.2rem;
  color: #192a56;
  margin: 3rem 0;
}

.row {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 30%;
  max-width: 30%;
  padding: 0px 10px;
}

.column img {
  vertical-align: middle;
  width: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 11px 0px rgba(30, 39, 46, 1);
}
/* for onHover animation */
.container {
  position: relative;
  padding-top: 20px;
}

.overlay {
  border-radius: 8px;
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0.6;
  color: white;
  transition: 0.5s ease;
  background-color: #1e272e;
}

.container:hover .overlay {
  opacity: 1;
}
.text {
  font-size: 2.5rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Responsive layout - makes a two column-layout instead of three columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 40%;
    max-width: 40%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
