.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 30%;
  max-width: 30%;
  padding: 10px 10px;
}

.column img {
  margin-top: 20px;
  vertical-align: middle;
  width: 100%;
  -webkit-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.75);
}

/* Responsive layout - makes a two column-layout instead of three columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 40%;
    max-width: 40%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
