* {
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
}
.main-logo {
  max-height: 90px;
}
.App-header {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App-heading {
  font-size: 4rem;
  color: #192a56;
  padding: 1.3rem;
}
.social {
  margin: 1rem 0;
}
.social a {
  text-decoration: none;
  color: #0097e6;
  margin: 0 10px;
  font-weight: bold;
}
